<div id="calendar">
  <div id="calendar-head">
    <a class="prev-month" href="#">Apr</a>
    <p><strong>May</strong></p>
    <a class="next-month" href="#">Jun</a>
  </div>
  <div id="calendar-body">
    <table>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="weekend">1</td>
      </tr>
      <tr>
        <td class="week">2</td>
        <td class="week">3</td>
        <td class="week">4</td>
        <td class="week">5</td>
        <td class="week">6</td>
        <td class="weekend">7</td>
        <td class="weekend">8</td>
      </tr>
      <tr>
        <td class="week">9</td>
        <td class="week">10</td>
        <td class="week">11</td>
        <td class="week">12</td>
        <td class="week">13</td>
        <td class="weekend">14</td>
        <td class="weekend">15</td>
      </tr>
      <tr>
        <td class="week">16</td>
        <td class="week">17</td>
        <td class="week">18</td>
        <td class="week">19</td>
        <td class="week">20</td>
        <td class="weekend">21</td>
        <td class="weekend">22</td>
      </tr>
      <tr>
        <td class="week">23</td>
        <td class="week">24</td>
        <td class="week">25</td>
        <td class="week">26</td>
        <td class="week">27</td>
        <td class="weekend">28</td>
        <td class="weekend">29</td>
      </tr>
      <tr>
        <td class="week">30</td>
        <td class="week">31</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
