<footer>
  <nav id="footer-nav">
    <a href="#">About</a>
    <a class="active-tab" href="#">Team</a>
    <a href="#">Privacy</a>
    <a href="#">Advertise</a>
    <a href="#">Contact</a>
  </nav>

  <div id="footer-body">
    <div id="about"></div>
    <div id="team">
      <div class="team-unit">
        <img src="img/uf-1.jpg">
        <div class="team-head">
          <h3><strong>Jane Doe</strong></h3>
          <p>CEO / Founder</p>
        </div>
        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...”</p>
        <a href="#">@janedoe</a>
      </div>
      <div class="team-unit">
        <img src="img/uf-2.jpg">
        <div class="team-head">
          <h3><strong>Joe Doe</strong></h3>
          <p>Co-Founder</p>
        </div>
        <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...”</p>
        <a href="#">@joedoe</a>
      </div>
    </div>
    <div id="privacy"></div>
    <div id="advertise"></div>
    <div id="contact"></div>
    </div>
  </div>
</footer>
