<section id="grid-section">
  <aside>
    {% include aside/tweets.html %}
    {% include aside/hot-slider.html %}
    {% include aside/form.html %}
  </aside>

  <div id="main-grid-sections">
    <section id="calendar">
      <img src="img/calendar.jpg">
      <a class="view-more" href="#">
        VIEW MORE STORIES
        <i class="fa fa-check-circle" aria-hidden="true"></i>
      </a>
    </section>

    {% include new-story.html %}

    <div id="quote">
      <i class="fa fa-quote-right" aria-hidden="true"></i>
      <p>“ If you don’t like something change it. If you can’t change it, change the way you think about it ”</p>
    </div>
  </div>

</section>
