<article id="instagram">
  <div class="insta-social">
    <div class="share"><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i>1,325</a></div>
    <div class="like"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>682</a></div>
  </div>
  <div class="insta">
    <div class="insta-blurb">
      <i class="fa fa-camera" aria-hidden="true"></i>
      <a href="#"><h2>Here's What Instagram Ads Will Look Like</h2></a>
      <p>3 hours ago</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry’s... <a class="link" href="#">Read more</a></p>
    </div>
    <img src="img/photography.jpg" alt="instagram adds">
  </div>
</article>
