<div id="nav-dropdown">
  <div class="menu">
    <div class="dropdown-nav">
      <div class="nav-section">
        <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Store</a>
        <a href="#" class="active"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Blog</a>
        <a href="#"><i class="fa fa-users" aria-hidden="true"></i>Community</a>
        <a href="#"><i class="fa fa-trophy" aria-hidden="true"></i>Contest</a>
        <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a>
        <a href="#footer-body"><i class="fa fa-envelope" aria-hidden="true"></i>Contact</a>
      </div>
      <div class="contact-section">
        <div class="contact-element">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <div class="contact-info">
            <p>(912) 555-1234</p>
            <p>(912) 555-5678</p>
          </div>
        </div>
        <div class="contact-element">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <div class="contact-info">
            <p>1600 Pennsylvania</p>
            <p>Ave NW, Washington</p>
            <p>DC 20500, USA</p>
          </div>
        </div>
        <div class="contact-element">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <div class="contact-info">
            <p>hello@website.com</p>
            <p>office@website.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-content">
      <div class="content-section">
        <div class="content-element">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          <a class="section-title" href="#">Tech</a>
          <a href="#">Software & Apps</a>
          <a href="#">Gadgets</a>
          <a href="#">Mobile</a>
        </div>
      </div>
      <div class="content-section">
        <div class="content-element">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          <a class="section-title" href="#">Entertainment</a>
          <a href="#">Film</a>
          <a href="#">Gaming</a>
          <a href="#">Music</a>
          <a href="#">Sport</a>
        </div>
      </div>
      <div class="content-section">
        <div class="content-element">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          <a class="section-title" href="#">Business</a>
          <a href="#">Jobs</a>
          <a href="#">Marketing</a>
          <a href="#">Media</a>
        </div>
      </div>
      <div class="content-section">
        <div class="content-element last">
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          <a class="section-title" href="#">Lifestyle</a>
          <a href="#">Home</a>
          <a href="#">Health & Fitmess</a>
          <a href="#">Travel & Leisure</a>
        </div>
      </div>
    </div>
  </div>

  <div class="social-network">
    <div class="social-upper-part">
      <div class="social-list fa-stack">
        <a class="fb" href="#"><i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>Facebook</a>
        <a class="tw" href="#"><i class="fa fa-twitter fa-2x fa-fw" aria-hidden="true"></i>Twitter</a>
        <a class="go" href="#"><i class="fa fa-google fa-2x fa-fw" aria-hidden="true"></i>Google +</a>
        <a class="rs" href="#"><i class="fa fa-rss fa-2x fa-fw" aria-hidden="true"></i>RSS Feeds</a>
        <a class="pi" href="#" ><i class="fa fa-pinterest fa-2x fa-fw" aria-hidden="true"></i>Pinterest</a>
      </div>
      <div class="social-widget">
        <div class="facebook widget">
          <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
          <p>156K</p>
          <div class="follow">
            <p>Follow</p>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </div>
        </div>
        <div class="twitter widget">
          <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
          <p>89K</p>
          <div class="follow">
            <p>Following</p>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="sign-in">
      <h2>Sign In</h2>
      <p>Just select your favorite social network to get started</p>
      <div class="icons">
        <a class="fb" href="#"><i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i></a>
        <a class="tw"  href="#"><i class="fa fa-twitter fa-2x fa-fw" aria-hidden="true"></i></a>
        <a class="go" href="#"><i class="fa fa-google fa-2x fa-fw" aria-hidden="true"></i></a>
        <a class="li" href="#"><i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="newsletter">
      <h2>Join the Newsletter</h2>
      <p>Sign up for our personalized daily newsletter</p>
      <div class="input">
        <input type="text" name="newsletter" placeholder="Enter email adress">
        <button type="button" name="signe-in">SIGN UP</button>
      </div>
    </div>
  </div>
</div>
