<article id="new-story">
  <img src="img/building.jpg">
  <div class="new-blurb">
    <i class="fa fa-file-text-o" aria-hidden="true"></i>
    <a href="#"><h2>What is Lorem Ipsum?</h2></a>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting... <a class="link" href="#">Read more</a></p>
    <div class="article-actions">
      <div class="action">
        <a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a>569 Shares
      </div>
      <div class="action">
        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>3,152 Views
      </div>
      <div class="action">
        <a href="#"><i class="fa fa-comment" aria-hidden="true"></i></a>21 Comments
      </div>
    </div>
  </div>
</article>
