<section id="video">
  <div class="video-blurb">
    <i class="fa fa-video-camera" aria-hidden="true"></i>
    <a href="#"><h2>Best story you have ever heard</h2></a>
    <p>24 minutes ago</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry’s... <a class="link" href="#">Read more</a></p>
  </div>
  <div id="video-player">
    <div class="video-icons">
      <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>Like</a>
      <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i></i>Later</a>
      <a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></i>Share</a>
    </div>
    <a href="#"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
  </div>
</section>
