.toggle-menu
  display: none

#nav-dropdown
  margin-top: 14px
  display: flex
  @media(max-width: 800px)
    flex-direction: column
  .fa
    font-size: 22px
    color: $gray
    margin-right: 20px

  .menu
    display: flex
    width: 50%
    margin-right: 14px
    @media(max-width: 800px)
      width: 100%
    .dropdown-nav
      width: 50%
      .nav-section
        a
          display: block
          background-color: #fff
          padding: 26px
          border-bottom: 1px solid $gray
          &:hover
            background-color: $blue-accent
            color: #fff !important
            border-bottom: 1px solid $blue-accent
          &:hover .fa
            color: #fff
            transition: .5s ease
        .active
          @extend a:hover
      .contact-section
        padding: 30.3px
        box-sizing: border-box
        background-color: $gray
        .contact-element
          display: flex
          margin-bottom: 22px
          &:last-of-type
            margin-bottom: 0
          .fa
            color: #fff
            font-size: 22px
            margin-right: 20px
            width: 25px
          .contact-info
            overflow: auto
            p
              color: #fff
              margin: 0
              word-wrap: break-word

    .nav-content
      width: 50%
      .content-section
        background-color: $bg-content
        position: relative
        &:hover
          background-color: #263a54
        .last
          border: none
        .content-element
          padding: 43.47px 14px
          border-bottom: 1px solid #4b6580
          .section-title
            color: $blue-accent
            margin-bottom: 7.2px
          .fa
            position: absolute
            top: 45px
            right: -10px
            font-size: 15px
            color: $blue-accent
          a
            display: block
            line-height: 1.6
            &:hover
              color: #59AAFF

  .social-network
    display: flex
    flex-direction: column
    width: 50%
    @media(max-width: 800px)
      width: 100% !important
      margin-top: 14px
    .social-upper-part
      display: flex
      @media(max-width: 550px)
        flex-direction: column
      .social-list
        width: 50%
        margin-right: 14px
        @media(max-width: 550px)
          width: 100%
        a
          display: block
          background-color: #fff
          padding: 14px
          &:hover .facebook
            transition: .5s ease
            background-color: #4d6baa
          &:hover .twitter
            transition: .5s ease
            background-color: #4fc6f8
          &:hover .google
            transition: .5s ease
            background-color: #db4437
          &:hover .rss
            transition: .5s ease
            background-color: #fb7629
          &:hover .pinterest
            transition: .5s ease
            background-color: #c72527
          img
            padding: 10px
            background-color: $gray
            border-radius: 50%
            margin-right: 20px
        .fb
          &:hover
            color: #4d6baa
        .tw
          &:hover
            color: #4fc6f8
        .go
          &:hover
            color: #db4437
        .rs
          &:hover
            color: #fb7629
        .pi
          padding-bottom: 30px
          &:hover
            color: #c72527

      .social-widget
        width: 50%
        @media(max-width: 550px)
          width: 100%
        .widget
          padding: 32px 14px
          margin-bottom: 14px
          &:last-of-type
            margin-bottom: 0
          img
            display: block
            margin-bottom: 45px
          .follow
            display: inline-block
            p
              margin: 0 !important
            .fa
              color: #fff
              transform: translate(10%, 15%) rotate(45deg)
          p
            display: inline
            color: #fff
            width: 40px
        .facebook
          background-color: #4d6baa
          @media(max-width: 550px)
            margin-top: 14px
        .twitter
          background-color: #4fc6f8

    .sign-in
      background-color: #fff
      text-align: center
      padding: 33px
      margin-top: 14px
      .icons
        margin: 35px 0 10px
        a
          padding: 12px 10px
          border-radius: 50%
          margin: 20px 25px 0 0
          &:last-of-type
            margin-right: 0
        .fb
          background-color: #4d6baa
        .tw
          background-color: #4fc6f8
        .go
          background-color: #db4437
        .li
          background-color: #238cc8

    .newsletter
      @extend .sign-in
      .input
        width: 100%
        @media(max-width: 550px)
          display: flex
          flex-direction: column
        input
          padding: 10px
          width: 70%
          outline-color: $red-accent
          @media(max-width: 1221px)
            width: 40%
          @media(max-width: 550px)
            width: 100%
        button
          background-color: $red-accent
          color: #fff
          border: 1px solid $red-accent
          border-radius: 5px
          margin-left: 10px
          padding: 10px 20px
          transition: .5s ease
          cursor: pointer
          &:hover
            background-color: transparent
            color: $red-accent
          @media(max-width: 550px)
            border-radius: 0
            margin: 14px 0 0
            width: 100%
