#new-story
  margin-top: 14px
  img
    width: 100%
    display: block
    height: auto
  .new-blurb
    background-color: #fff
    padding: 60px 50px
    position: relative
    @media(max-width: 720px)
      width: 100%
    .fa-file-text-o
      color: #fff
      background-color: #4bc7c7
      padding: 10px
      position: absolute
      left: 0%
    h2
      margin-top: 0px
    a
      &:hover
        text-decoration: underline !important
    .link
      color: $red-accent

    .article-actions
      display: flex
      margin-top: 60px
      .action
        margin-right: 5%
        a
          color: #4bc7c7
          margin-right: 10px
