<div id="tweets">
  <div class="tweet-head">
    <a href="#"><strong>Alex White</strong> @alexwhite</a>
    <i class="fa fa-check-circle" aria-hidden="true"></i>
  </div>
  <p>Singolo is a free PSD template of a flat, single page website created by <strong><a href="#">@PsdChat </a> <a href="#">#freebie </a> <a href="#">#psd </a><a href="#">http://bit.ly/19XM8Lj</a></strong>
    <span>2 hours ago  </span>
  </p>
  <p>Saturday Career Workshops are back at ADC! See what high school students created this week: <strong>
    <a href="#">http://bit.ly/Xx1EsL</a></strong>
    <span>6 hours ago</span>
  </p>
</div>
