<article id="hot-slider">
  <div class="slider-head">
    <h2>What's Hot</h2>
    <div class="indicators">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div>
  <div class="slider-body">
    <div class="news">
      <img src="img\news\underground.jpeg">
      <div class="news-body">
        <a href="#"><h3>A New Yorker doesn't necessarily come from...</h3></a>
        <p>3 minutes ago</p>
      </div>
    </div>
    <div class="news">
      <img src="img\news\sausage.jpeg">
      <div class="news-body">
        <a href="#"><h3>A New Yorker doesn't necessarily come from...</h3></a>
        <p>3 minutes ago</p>
      </div>
    </div>
    <div class="news">
      <img src="img\news\smartphone.jpg">
      <div class="news-body">
        <a href="#"><h3>A New Yorker doesn't necessarily come from...</h3></a>
        <p>3 minutes ago</p>
      </div>
    </div>
    <div class="news">
      <img src="img\news\hangover.jpeg">
      <div class="news-body">
        <a href="#"><h3>A New Yorker doesn't necessarily come from...</h3></a>
        <p>3 minutes ago</p>
      </div>
    </div>
    <div class="news">
      <img src="img\news\font.jpg">
      <div class="news-body">
        <a href="#"><h3>A New Yorker doesn't necessarily come from...</h3></a>
        <p>3 minutes ago</p>
      </div>
    </div>
  </div>
</article>
