<article id="hot-slider">
  <div class="slider-head">
    <h2>What's Hot</h2>
    <div class="indicators">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div>
  <div class="slider-body">
    <div class="news">
      <img src="img/news/underground.jpeg" alt="Underground">
      <div class="news-body">
        <a href="#"><h3>A New Yorker doesn't necessarily come from...</h3></a>
        <p>3 minutes ago</p>
      </div>
    </div>
    <div class="news">
      <img src="img/news/sausage.jpeg" alt="Sausage">
      <div class="news-body">
        <a href="#"><h3>A New Yorker doesn't necessarily come from...</h3></a>
        <p>3 minutes ago</p>
      </div>
    </div>
    <div class="news">
      <img src="img/news/smartphone.jpg" alt="Smartphone">
      <div class="news-body">
        <a href="#"><h3>A New Yorker doesn't necessarily come from...</h3></a>
        <p>3 minutes ago</p>
      </div>
    </div>
    <div class="news">
      <img src="img/news/hangover.jpeg" alt="Hangover">
      <div class="news-body">
        <a href="#"><h3>A New Yorker doesn't necessarily come from...</h3></a>
        <p>3 minutes ago</p>
      </div>
    </div>
    <div class="news">
      <img src="img/news/font.jpg" alt="Fonts">
      <div class="news-body">
        <a href="#"><h3>A New Yorker doesn't necessarily come from...</h3></a>
        <p>3 minutes ago</p>
      </div>
    </div>
  </div>
</article>
